.projectCard{
    font-size: small;
    height: 35vw;
    margin-bottom: 6vw;

    @media (min-width:15cm){
        height: 20vw;
        margin-bottom: 4vw;
    }
    @media (min-width:21cm){
        height: 15vw;
        margin-bottom: 2vw;
        font-size: medium;
    }

    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    text-decoration: none;
    color: white;
    border-radius: 1rem 0 0 .4em !important;
    overflow: hidden;

    & .divider{
        margin: 0.2vw 4vw 1.2vw 4vw;
        border-bottom: 2px solid darkgray;
    }
    & img{
        border-radius: 1rem 0 0 .4em !important;
    }
    & span{
        color: darkgray;
        text-align: center;
        font-size: 1em;
    }
    & h2{
        font-size: 1.5em;
        text-align: center;
        margin: 0;
        margin-top: 1vw;
    }

    & p{
        color: darkgray;
        text-align: left;
        font-size: 1em;
        margin-left: 5vw;
        width:80%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        text-overflow: ellipsis;
    }

    & svg{
        opacity: 0;
        height:100%;
        width: 100%;
    }

    &:hover{
        background-color: rgb(49, 49, 49);
        & svg{
            opacity: 20%;
        }
    }

}
