.image{
    width: 40vw !important;
    height: 25vw !important;
    object-fit: cover !important;
    object-position: top !important;
}

.imageFull{
    width: 75vw !important;
    object-position: top !important;
    object-fit: scale-down;
}

.carouselFull{
    position: relative;
    margin-bottom: 15vw;

    &:hover{
        cursor: pointer;
    }
}

.carousel{
    position: relative;
    margin-bottom: 15vw;
    left: 20%;

    &:hover{
        cursor: pointer;
    }
}
.overlayFull{
    position: absolute;
    width: 75vw !important;
    height: auto;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vw;
    font-size: 3vw;

    & button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: darkgray;
        padding-top: 1vw;

        &:hover{
            color: rebeccapurple;
            cursor: pointer;
        }
    }
}

.overlay{
    position: absolute;
    width: 40vw !important;
    height: 20vw !important;
    left: 0;
    bottom: 0;
    padding-top: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vw;
    font-size: 3vw;

    & button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: darkgray;
        padding-top: 1vw;

        &:hover{
            color: rebeccapurple;
            cursor: pointer;
        }
    }
}

.tracker{
    padding: 1vw 2vw 2vw 2vw;
    text-align: justify;
    & .selected{
        color: white;
    }
    & span{
       color: darkgrey;
       padding-left: .5vw;
       padding-right: .5vw;

       &:hover{
            cursor: pointer;
            color:rebeccapurple;
        }
    }
}
