.projectList{
    display: grid;
    grid-template-columns: 1fr;
}

.portfolioSection{
    text-align: center;
    margin:0;
    margin-left: 1vw;
    margin-bottom: 15vw;
    @media (min-width:600px){
        margin-left: .5vw;
        margin-right: .5vw;
    }

    & h1{
        margin: .5vw;
    }
}

.divider{
    margin: 0 4vw 2vw 4vw;
    border-bottom: 2px solid darkgray;
}

.bioSection{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2vw;
}

.bio{
    text-align: center;
    position: relative;
    font-size: larger;
    top: -10%;


    & h1{
        line-height: 1.25;
        font-size: 2rem;
        margin-top: .5rem;
        margin-bottom: 0;
    }

    @media (min-width:12cm){
        top:10%;
        & h1{
            font-size: 3rem;
        }
    }

    & div{
        color: darkgray;
        margin-bottom: 2vw;
    }

    & p{
        font-style: italic;
    }

    & .links{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(8,1fr);
        @media (min-width: 5cm){
            padding: 0 0 0 0;
            font-size: medium;
        }
        @media (min-width: 14.5cm){
            padding: 0 10vw 0 10vw;
            font-size: small;
        }
        @media (min-width: 30cm){
            padding: 0 10vw 0 10vw;
        }
    }
}

.portrait{
    text-align: center;
    & img:last-child{
       border-radius: 100%;
       border: .8vw solid rebeccapurple;
       width: 25vw !important;
       height: 25vw !important;
       max-width: 400px !important;
       max-height: 400px !important;
    }
}
