.gitlab {
  width: 4.5em;
  left: .5em;
  position: relative;
}

.linkedin {
  width: 2em;
  height: 2em;
  margin-top: 1.2em;
  fill: #00a0dc;
  position: relative;
}

.itch {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  fill: "#fa5c5c";
}
