.mainDiv{
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 99%;
    width: max-content;
    padding: 0 0 1.45rem;
    @media (min-width:640px){
        max-width: 95vw;
        padding: 0 1.0875rem 1.45rem;
    }
}
