.modal{
    background-color:#252525;
    width: 80vw;
    height: 80vh;

    &>button{
        position: absolute;
        left: 2vw;
        top: 2vw;
        z-index: 10;
    }
}

.modal::backdrop{
    background-color: rgba(10, 10, 10, 0.5);
}
