.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    row-gap: 5vw;

    width: 80vw;

    & iframe{
        width: 97.5%;
        height: 100%;
    }

    @media (min-width:10cm){
        grid-template-rows: 1.5fr 1fr;
        row-gap: 2vw;
    }

    @media (min-width:15cm){
        grid-template-rows: 2fr 1fr;
        row-gap: 1vw;
    }

    @media (min-width:1024px){
        grid-template-rows: 3fr 1fr;
    }

    @media (min-width:30cm){
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 1fr;
        row-gap: 0;
        height: 32vw;

        & iframe{
            width: 95%;
            height: 90%;
        }
        width: 100%;
    }
}

.roundedPurple{
    background-color: rebeccapurple;
    border-radius: 1vw;
}

.shadow{
    box-shadow: 0 0 2vw rgb(40, 20, 59);
}

.sideMargin{
    margin: 0;
    @media (min-width:30cm){
        margin: 0 8vw 0 8vw;
    }
}

.divider{
    margin: 0 1vw 2vw 0;
    border-bottom: 2px solid darkgray;
}

.infoTable, .infoTable tr, .infoTable td{
    @media (max-width:10cm){
        font-size: smaller;
    }

    @media (min-width:590px) and (max-width:30cm){
        & tr:first-of-type{
            line-height: 3em;
        }
    }

    @media (min-width:2560px){
        font-size: larger;
        line-height: normal;
    }
    border: 2px solid darkgray;
    text-align: center;
    padding: .5vw;
    background-color: #252525;

    & tr:nth-last-of-type(2){
        border-bottom: 0;
        & td{
            border: 0;
        }
    }
    & tr:last-of-type{
        border-top: 0;
        height: 80%;
    }
}

.purpleBorder{
    border: .8vw solid rebeccapurple;
    border-radius: 5px;

    & table{
        margin: 0;
    }
}
